{
  "root": true,
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/jest",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier"
  ],
  "rules": {
    "jest/valid-title": [0],
    "jest/lowercase-name": [0]
  },
  "overrides": [
    {
      "files": ["*.config.js"],
      "extends": ["plugin:@shopify/node"]
    }
  ]
}
