{
  "root": true,
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/jest",
    "plugin:@shopify/react",
    "plugin:@shopify/graphql",
    "plugin:@shopify/prettier"
  ],
  "rules": {
    "jest/valid-title": [0],
    "jest/lowercase-name": [0],
    "jsx-a11y/anchor-is-valid": [
      2,
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.config.js"],
      "extends": ["plugin:@shopify/node"]
    }
  ]
}
